/springmvc/*.classpath
/springmvc/*.gitignore
/springmvc/*.project
/springmvc/.settings/*.jsdtscope
/springmvc/.settings/*.prefs
/springmvc/.settings/*.component
/springmvc/.settings/*.xml
/springmvc/.settings/*.container
/springmvc/.settings/*.name
/springcore/*.classpath
/springcore/*.gitignore
/springcore/*.project
/springcore/.settings/*.prefs
/springcore/src/main/java/com/spring/aop/*.class
/springjdbc/*.classpath
/springjdbc/*.project
/springjdbc/.settings/*.prefs
/springtx/*.classpath
/springtx/*.gitignore
/springtx/*.project
/springtx/.settings/*.prefs
