<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="msg" class="com.spring.core.di.Message">
		<property name="msgGenerator" ref="msgGenerator" />
		<!--  <constructor-arg ref="msgGenerator"/> -->
	</bean>

	<bean id="msgGenerator" class="com.spring.core.di.MessageGenerator" />

</beans>